@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    border: border-box;
}
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */
.display-flex{
    display: flex;
}

.section-title{
    font-size: 2.8rem;
    font-weight: 700;
}
.text-primary{
    color: #FF900E;
}

.text-gray{
    color: #424242;
}

/* dark03 */
.text-light-gray{
    color: #727272;
}

.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
/* btn style */
.btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
}
/* Main section */
main{
    max-width: 1440px;
    margin: 0 auto;
}
main>section{
    margin-top: 125px;
}
/* header styles */

/* navbar related styles */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-weight: 700;
    font-size: 2.813rem;
}

.nav-item{
    list-style: none;
    margin-right: 30px;
}

.nav-link{
    text-decoration: none;
    font-weight: 500;
}

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
/* Banner related styles */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.banner-img{
    width: 100%;
}
/* teams and feature */
.teams{
    justify-content: center;
    align-items: center;
    gap: 73px;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.our-features{
    max-width: 530px;
}

#quick-list{
    font-weight: 500;
}

/* Feature Section */
.feature{
    gap: 140px;
}
#feature-section-title{
    border-left: 5px solid #FF900E;
    padding-left: 21px;
    margin-bottom: 24px;
}
.feature-card{
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
}
.feature-card .feature-title{
    font-weight: 600;
    font-size: 1.25rem;
}
#experience-badge{
    padding: 40px 45px;
    max-width:342px;
    max-height: 200px;
    max-height: 200px;
    font-size: 1.5rem;
    margin-left: -92px;
    margin-top: -265px;
}
#experience-year{
    font-size: 4rem;
    font-weight: 700;
}

.future-architect img{
    width: 100%;
}
/* Fact styles */
.some-facts{
    max-width:1440px;
    justify-content: center;

}
.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr) ;
    gap: 124px;
}
.fact-card{
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin: 5 0 10 0;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin: 10 0 0 0;
}
.fact-description{
    max-width: 540px;
    margin-top: 20px;
    margin-bottom: 100px;
}

/* Sponsors Section */
.our-sponsor{
    margin-bottom: 100px;
}
.sponsor-info{
    max-width: 540px;
    margin:50px auto;
    text-align: center;
}
.sponsors-companies{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    filter: grayscale(100%);

}
/* Footer Section */
.footer-title{
    width: auto;
    height: 100px;
    border-radius: 8px;
    background: rgb(255, 244, 231);
    color: rgb(66, 66, 66);
    font-size: 1.25rem;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 100px;
}
/* Responsive media query */
@media screen and (max-width:576px){
    .navbar,.nav-link ,.teams,.feature{
        flex-direction: column;
    }
    .team-img-container,
    .facts-container,
    .sponsors-companies
    {
        grid-template-columns: 1fr ;
    }
    .facts-container,.sponsors-companies{
        justify-items: center;
        gap: 24px;
    }
    .future-architect img{
        margin-left: 10%;
    }
    #experience-badge{
        width: 100%;
        height: 80%;
        padding: 10 15;
        margin-left: 20px;
    }
}
/* for tablet */
@media screen and (min-width: 576px) and (max-width: 992px){
    .teams, .feature{
        flex-direction: column;
    }
    .future-architect img{
        width: 90%;
        margin-left: 10%;
    }
    .our-features{
        margin: 50px auto;
    }
    #experience-badge{
        width: 90%;
        height: 90%;
        padding: 10 15;
        margin-left: 60px;
    }
    .sponsors-companies,.facts-container
    {
        grid-template-columns: repeat(2,1fr) ;
        gap: 25px;
        justify-items: center;
    }
}